<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Clash Royale Angular</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Jugadores</a>
      <a class="nav-item nav-link" href="#">Clanes</a>
      <a class="nav-item nav-link" href="#">Cartas</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/gabrielJS" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
